@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Cardo:400,400italic,700);
.sans-serif, .sans-serif-400, .article-description-tag > h1, .item-description-tag > h1, .exhibit-item > a, nav p, nav #search-container form #advanced-form label, #advanced-search-form label, #advanced-search-form .label, .sans-serif-600, nav #search-container form #advanced-form legend, .section-header > small, .sans-serif-700, .article-description-tag > b, .item-description-tag > b, .exhibit-item > h1, .sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-family: 'Open Sans', 'arial', sans-serif; }

.serif, .serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .item-description-tag > p, .exhibit-item > p, nav > ul.navigation > li * > a, .section-header > h1, .featured-item-description, form input[type="text"], #advanced-search-form input[type="text"], #advanced-search-form select, .serif-700, nav > ul.navigation > li > a {
  font-family: 'Cardo', 'times new roman', serif; }

.italic, .featured-item-description {
  font-style: italic; }

.sans-serif-400, .article-description-tag > h1, .item-description-tag > h1, .exhibit-item > a, nav p, nav #search-container form #advanced-form label, #advanced-search-form label, #advanced-search-form .label {
  font-weight: 400; }

.sans-serif-600, nav #search-container form #advanced-form legend, .section-header > small {
  font-weight: 600; }

.sans-serif-700, .article-description-tag > b, .item-description-tag > b, .exhibit-item > h1 {
  font-weight: 700; }

.sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-weight: 800; }

.serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .item-description-tag > p, .exhibit-item > p, nav > ul.navigation > li * > a, .section-header > h1, .featured-item-description, form input[type="text"], #advanced-search-form input[type="text"], #advanced-search-form select {
  font-weight: 400; }

.serif-700, nav > ul.navigation > li > a {
  font-weight: 700; }

.article > img, article > img, .article-header > img, .article-content > img {
  width: 100%;
  margin-bottom: 3.125em; }
.article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-size: 3.125em;
  line-height: 1.25em;
  margin-bottom: 1.275em;
  color: #4a4a4a; }
.article > p, article > p, .article-header > p, .article-content > p {
  font-size: 1.25em;
  margin-bottom: 1.6875em;
  color: #4a4a4a;
  line-height: 1.7em; }
.article > quote, article > quote, .article-header > quote, .article-content > quote {
  font-style: italic;
  color: #C33244;
  display: block;
  font-size: 2em;
  margin-bottom: 1.6875em;
  padding: 0 1em 0 1em; }

article {
  margin-bottom: 120px; }

.article-content {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-rule-width: 1.875em;
  -moz-column-rule-width: 1.875em;
  column-rule-width: 1.875em;
  margin-bottom: 120px; }

.article-description-tag, .item-description-tag {
  margin-bottom: 1.5em; }
  .article-description-tag > h1, .item-description-tag > h1 {
    letter-spacing: 0.5em;
    font-size: 0.8em;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    padding: 2px 0 2px 0;
    margin-bottom: 0.5em; }
  .article-description-tag > img, .item-description-tag > img {
    width: 100%; }

.exhibit-item {
  margin-bottom: 1em;
  padding: 10px;
  color: #4a4a4a; }
  .exhibit-item:hover {
    background-color: #C33244;
    color: white !important; }
  .exhibit-item > img {
    width: 100%;
    margin-bottom: 1em; }
  .exhibit-item > h1 {
    font-size: 1.25em; }
  .exhibit-item > p {
    font-size: 1.25em;
    margin-bottom: 1.5em; }
  .exhibit-item > a {
    font-size: 0.9em; }

.item {
  padding-bottom: 150px; }

.item-image {
  height: 800px;
  margin-bottom: 50px; }
  .item-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

.nav-drawer {
  position: fixed;
  top: calc(-40vh - 10em - 8px);
  left: 0;
  right: 0;
  z-index: 9999;
  /* Firefox */
  -moz-transition: top 0.3s ease-in-out;
  /* WebKit */
  -webkit-transition: top 0.3s ease-in-out;
  /* Opera */
  -o-transition: top 0.3s ease-in-out;
  /* Standard */
  transition: top 0.3s ease-in-out; }

.nav-drawer-shade {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998; }

#nav-drawer-toggle:checked ~ .nav-drawer {
  top: 0; }

#nav-drawer-toggle:checked ~ .nav-drawer-shade {
  height: 100vh;
  widows: 100vh;
  display: block;
  opacity: 0.5;
  background-color: #4a4a4a; }

.navigation-button {
  background-color: #C33244;
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  line-height: 0.5em;
  letter-spacing: 0.3em;
  text-align: center;
  border-bottom: 8px solid #8A0011; }

.nav-container {
  border-bottom: 8px solid #C33244;
  background-color: white;
  padding: 5em 0; }

nav {
  height: 40vh; }
  nav a {
    text-decoration: none;
    color: #4a4a4a; }
    nav a:hover {
      text-decoration: none;
      color: #C33244; }
  nav p {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #4a4a4a; }
  nav > ul.navigation {
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none; }
    nav > ul.navigation > li {
      list-style-type: none;
      margin-bottom: 1em; }
      nav > ul.navigation > li > a {
        font-size: 1.5em; }
    nav > ul.navigation > li * {
      list-style-type: none; }
      nav > ul.navigation > li * > a {
        font-size: 1.5em; }
  nav #search-container form #advanced-form {
    display: none; }
    nav #search-container form #advanced-form legend {
      font-size: 1em;
      letter-spacing: 0.1em;
      border: none;
      margin-bottom: 0.2em; }
    nav #search-container form #advanced-form label {
      font-size: 1em;
      letter-spacing: 0.2em; }
    nav #search-container form #advanced-form fieldset {
      margin-bottom: 0.5em; }
    nav #search-container form #advanced-form input[type="checkbox"], nav #search-container form #advanced-form input[type="radio"] {
      margin: 0 1em 0 2em; }
  nav #search-container form #expand-advanced-form-toggle:checked ~ #advanced-form {
    display: block; }
  nav #search-container form input[name="query"] {
    width: 75%; }
  nav #search-container form .expand-advanced-form, nav #search-container form #submit_search {
    font-size: 1.5em;
    color: #4a4a4a;
    cursor: pointer; }
    nav #search-container form .expand-advanced-form:hover, nav #search-container form #submit_search:hover {
      color: #C33244; }
  nav #search-container form #submit_search {
    display: inline-block;
    text-align: center;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    border: none;
    color: #4a4a4a;
    border-radius: 0;
    background-color: white;
    margin: 0 0 0 -5px;
    cursor: pointer; }
    nav #search-container form #submit_search:focus {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none; }
    nav #search-container form #submit_search:hover, nav #search-container form #submit_search.active {
      color: #C33244; }

.section-header {
  margin: 120px 0 30px 0;
  color: #4a4a4a;
  text-align: center; }
  .section-header > small {
    letter-spacing: 1.25em;
    font-size: 1em; }
  .section-header > h1 {
    font-size: 2.5em; }

.homepage-logo {
  font-size: 3.125em;
  color: white;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-align: center;
  position: relative; }

.featured-item-image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 30px;
  display: block; }
  .featured-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; }
  .featured-item-image.hidden {
    display: none; }

.featured-item-description {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 1.875em;
  background-color: #C33244;
  padding: 20px 40px 40px 40px !important;
  display: block;
  cursor: pointer;
  text-decoration: none;
  /* Firefox */
  -moz-transition: background-color 0.1s ease-in-out;
  /* WebKit */
  -webkit-transition: background-color 0.1s ease-in-out;
  /* Opera */
  -o-transition: background-color 0.1s ease-in-out;
  /* Standard */
  transition: background-color 0.1s ease-in-out;
  /* Firefox */
  -moz-transition: opacity 0.3s ease-in-out;
  /* WebKit */
  -webkit-transition: opacity 0.3s ease-in-out;
  /* Opera */
  -o-transition: opacity 0.3s ease-in-out;
  /* Standard */
  transition: opacity 0.3s ease-in-out; }
  .featured-item-description:hover {
    text-decoration: none;
    color: white;
    background-color: #8A0011; }
  .featured-item-description.hidden {
    opacity: 0.1; }

.featured-items-descriptions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  max-height: 300px; }

@keyframes fade {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.4; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
form input[type="text"] {
  letter-spacing: 0.05em;
  appearance: none;
  /* Opera */
  -o-appearance: none;
  /* Firefox */
  -moz-appearance: none;
  /* Safari and Chrome */
  -webkit-appearance: none;
  padding: 10px 0;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #4a4a4a;
  border-radius: 0;
  font-size: 1.5em;
  width: 100%; }
  form input[type="text"].advanced-search-terms {
    width: 90%; }
  form input[type="text"]:focus {
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    outline: none; }

input[type=checkbox].checkbox-hidden {
  position: absolute;
  opacity: 0; }

#advanced-search-form {
  color: #4a4a4a;
  margin-bottom: 50px;
  /*
  & input[type="submit"] {
    width: 15%;
    text-align: center;
    padding: 10px 0;
    @extend .sans-serif-400;
    letter-spacing: 0.5em;
    @include appearance(none);
    @include box-shadow(none);
    color: $dark-grey;
    border: 1px solid $dark-grey;
    border-radius: 0;
    background-color: white;
    margin: 20px 0;
    &:focus{
      @include box-shadow(none);
      outline: none;
    }
    
    &:hover {
      color: white;
      background-color: $dark-grey;
    }
  }*/ }
  #advanced-search-form label, #advanced-search-form .label {
    font-size: 0.8em;
    letter-spacing: 0.3em;
    color: #4a4a4a; }
  #advanced-search-form #expand-advanced-search-toggle:checked ~ div.advanced-search-form-extra {
    display: block; }
  #advanced-search-form .advanced-search-form-extra {
    height: auto;
    animation-name: fade;
    animation-duration: 0.3s;
    display: none; }
  #advanced-search-form input[type="text"] {
    letter-spacing: 0.05em;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #4a4a4a;
    border-radius: 0;
    font-size: 1.5em;
    width: 100%; }
    #advanced-search-form input[type="text"].advanced-search-terms {
      width: 90%; }
    #advanced-search-form input[type="text"]:focus {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none; }
  #advanced-search-form input[name="search"] {
    width: 60%;
    padding: 5px 10px;
    margin: 0 5px; }
  #advanced-search-form button[type="submit"], #advanced-search-form .expand-advanced-search {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    border: none;
    color: #4a4a4a;
    border-radius: 0;
    background-color: white;
    margin: 0 0 0 -5px;
    cursor: pointer; }
    #advanced-search-form button[type="submit"]:focus, #advanced-search-form .expand-advanced-search:focus {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none; }
    #advanced-search-form button[type="submit"]:hover, #advanced-search-form button[type="submit"].active, #advanced-search-form .expand-advanced-search:hover, #advanced-search-form .expand-advanced-search.active {
      color: #C33244; }
  #advanced-search-form button[class="remove_search"] {
    text-align: center;
    width: 2em;
    height: 2em;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 50%;
    background-color: white;
    margin: 20px 0;
    cursor: pointer; }
    #advanced-search-form button[class="remove_search"]:focus {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none; }
    #advanced-search-form button[class="remove_search"]:hover {
      color: white;
      background-color: #4a4a4a; }
  #advanced-search-form button[class="add_search"] {
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    color: #b0b0b0;
    border: 1px dashed #b0b0b0;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto; }
    #advanced-search-form button[class="add_search"]:hover {
      color: #808080;
      border: 1px dashed #4a4a4a; }
  #advanced-search-form .field {
    margin-bottom: 2em; }
  #advanced-search-form select {
    letter-spacing: 0.1em;
    margin: 5px 0;
    font-size: 1em;
    padding: 10px 20px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #4a4a4a;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    background-color: white;
    cursor: pointer; }
    #advanced-search-form select:focus, #advanced-search-form select:hover {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none;
      color: white;
      background-color: #4a4a4a; }

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.container-fixed, .container-fixed-top, .container-fixed-bottom, .container-fixed-center {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999; }

.container-fixed-top {
  top: 0; }

.container-fixed-bottom {
  bottom: 0; }

.container-fixed-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

::selection {
  background-color: #4a4a4a;
  color: white; }

::-moz-selection {
  background-color: #4a4a4a;
  color: white; }

/*# sourceMappingURL=screen.css.map */
