@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Cardo:400,400italic,700);
.sans-serif, .sans-serif-400, .article-description-tag > h1, .item-description-tag > h1, .exhibit-item > a, nav p, nav #search-container form #advanced-form label, nav #footer-text, #advanced-search-form label, #advanced-search-form .label, footer #footer-text p, .sans-serif-600, article p#simple-pages-breadcrumbs, nav #search-container form #advanced-form legend, .section-header > small, .sans-serif-700, .article-description-tag > b, .item-description-tag > b, .exhibit-item > h1, .highlight-jumbotron .section .back a, .sans-serif-800, .article-header > h1, .article-content > h1, .article-content > h2, .article-content > h3, .article-content > h4, .article-content > h5, .article-content > h6 {
  font-family: 'Open Sans', 'arial', sans-serif; }

.serif, .serif-400, .article-content > p, .article-content > quote, .article-content > a, .article-content > i, .article-content > mark, .article-content > del, .article-content > ins, .article-content > sub, .article-content > sup, .article-description-tag > p, .item-description-tag > p, .exhibit-item > p, nav > ul.navigation > li * > a, .section-header > h1, .highlight-jumbotron .section .back p, form input[type="text"], #advanced-search-form input[type="text"], #advanced-search-form select, .serif-700, .article-content > strong, .article-content > b, .article-content > em, nav > ul.navigation > li > a {
  font-family: 'Cardo', 'times new roman', serif; }

.italic {
  font-style: italic; }

.sans-serif-400, .article-description-tag > h1, .item-description-tag > h1, .exhibit-item > a, nav p, nav #search-container form #advanced-form label, nav #footer-text, #advanced-search-form label, #advanced-search-form .label, footer #footer-text p {
  font-weight: 400; }

.sans-serif-600, article p#simple-pages-breadcrumbs, nav #search-container form #advanced-form legend, .section-header > small {
  font-weight: 600; }

.sans-serif-700, .article-description-tag > b, .item-description-tag > b, .exhibit-item > h1, .highlight-jumbotron .section .back a {
  font-weight: 700; }

.sans-serif-800, .article-header > h1, .article-content > h1, .article-content > h2, .article-content > h3, .article-content > h4, .article-content > h5, .article-content > h6 {
  font-weight: 800; }

.serif-400, .article-content > p, .article-content > quote, .article-content > a, .article-content > i, .article-content > mark, .article-content > del, .article-content > ins, .article-content > sub, .article-content > sup, .article-description-tag > p, .item-description-tag > p, .exhibit-item > p, nav > ul.navigation > li * > a, .section-header > h1, .highlight-jumbotron .section .back p, form input[type="text"], #advanced-search-form input[type="text"], #advanced-search-form select {
  font-weight: 400; }

.serif-700, .article-content > strong, .article-content > b, .article-content > em, nav > ul.navigation > li > a {
  font-weight: 700; }

.article > img, article > img, .article-header > img, .article-content > img {
  width: 100%;
  margin-bottom: 3.125em; }
.article > h1, article > h1, .article-header > h1, .article-content > h1, .article > h2, article > h2, .article-header > h2, .article-content > h2, .article > h3, article > h3, .article-header > h3, .article-content > h3, .article > h4, article > h4, .article-header > h4, .article-content > h4, .article > h5, article > h5, .article-header > h5, .article-content > h5, .article > h6, article > h6, .article-header > h6, .article-content > h6, .article > p, article > p, .article-header > p, .article-content > p, .article > a, article > a, .article-header > a, .article-content > a, .article > strong, article > strong, .article-header > strong, .article-content > strong, .article > b, article > b, .article-header > b, .article-content > b, .article > i, article > i, .article-header > i, .article-content > i {
  color: #4a4a4a; }

article p#simple-pages-breadcrumbs {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em; }
  article p#simple-pages-breadcrumbs a {
    text-decoration: none;
    color: #C33244;
    padding: 3px 5px; }
    article p#simple-pages-breadcrumbs a:hover {
      background-color: #C33244;
      color: white;
      border-radius: 3px; }

.article-header > h1 {
  font-size: 3.125em;
  line-height: 1.25em;
  margin-bottom: 1.275em; }

.article-content {
  margin-bottom: 120px; }
  .article-content > h1, .article-content > h2, .article-content > h3, .article-content > h4, .article-content > h5, .article-content > h6 {
    line-height: 100%;
    margin-bottom: 0.3em;
    text-transform: uppercase; }
  .article-content > h1 {
    font-size: 2.75em; }
  .article-content > h2 {
    font-size: 2.5em; }
  .article-content > h3 {
    font-size: 2.25em; }
  .article-content > h4 {
    font-size: 2em; }
  .article-content > h5 {
    font-size: 1.75em; }
  .article-content > h6 {
    font-size: 1.5em; }
  .article-content > p, .article-content > a, .article-content > strong, .article-content > b, .article-content > i, .article-content > em, .article-content > mark, .article-content > del, .article-content > ins {
    font-size: 1.5em;
    margin-bottom: 1.6875em;
    line-height: 1.7em; }
  .article-content > i {
    font-style: italic; }
  .article-content > em {
    color: #C33244; }
  .article-content > sub, .article-content > sup {
    font-size: 1em; }
  .article-content > mark {
    background-color: #C33244;
    color: white; }
  .article-content > quote {
    font-style: italic;
    color: #C33244;
    display: block;
    font-size: 2.5em;
    margin-bottom: 1.6875em;
    padding: 0 2em 0 2em; }

.article-description-tag, .item-description-tag {
  margin-bottom: 1.5em; }
  .article-description-tag > h1, .item-description-tag > h1 {
    letter-spacing: 0.5em;
    font-size: 0.8em;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    padding: 2px 0 2px 0;
    margin-bottom: 0.5em; }
  .article-description-tag > img, .item-description-tag > img {
    width: 100%; }

.search-results {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px; }

.exhibit-item {
  display: block;
  text-decoration: none !important;
  margin-bottom: 1em;
  width: 360px;
  color: #4a4a4a;
  float: left;
  padding: 10px; }
  .exhibit-item:hover {
    background-color: #C33244;
    color: white !important; }
  .exhibit-item > img {
    width: 100%;
    margin-bottom: 1em; }
  .exhibit-item > h1 {
    font-size: 1.25em; }
  .exhibit-item > p {
    font-size: 1.25em;
    margin-bottom: 1.5em; }
  .exhibit-item > a {
    font-size: 0.9em; }

.item-image {
  height: 800px;
  margin-bottom: 50px; }
  .item-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .item-image .item-file.image-jpeg {
    width: 100%;
    height: 100%; }

.nav-drawer {
  position: fixed;
  top: calc(-40vh - 10em - 8px);
  left: 0;
  right: 0;
  z-index: 9999;
  /* Firefox */
  -moz-transition: top 0.3s ease-in-out;
  /* WebKit */
  -webkit-transition: top 0.3s ease-in-out;
  /* Opera */
  -o-transition: top 0.3s ease-in-out;
  /* Standard */
  transition: top 0.3s ease-in-out; }

.nav-drawer-shade {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 100vh;
  widows: 100vh;
  opacity: 0.9;
  background-color: #8A0011; }

#nav-drawer-toggle:checked ~ .navigation-button {
  top: calc(40vh + 10em + 8px); }

#nav-drawer-toggle:checked ~ .nav-drawer {
  top: 0; }

#nav-drawer-toggle:checked ~ .nav-drawer-shade {
  display: block; }

.navigation-button {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
  /* Firefox */
  -moz-transition: top 0.3s ease-in-out;
  /* WebKit */
  -webkit-transition: top 0.3s ease-in-out;
  /* Opera */
  -o-transition: top 0.3s ease-in-out;
  /* Standard */
  transition: top 0.3s ease-in-out;
  width: 200px;
  background-color: #C33244;
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  line-height: 0.5em;
  letter-spacing: 0.3em;
  text-align: center;
  border-bottom: 8px solid #8A0011; }

.nav-container {
  border-bottom: 8px solid #C33244;
  background-color: white;
  padding: 5em 0; }

nav {
  height: 40vh; }
  nav a {
    text-decoration: none;
    color: #4a4a4a; }
    nav a:hover {
      text-decoration: none;
      color: #C33244; }
  nav p {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #4a4a4a; }
  nav > ul.navigation {
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none; }
    nav > ul.navigation > li {
      list-style-type: none;
      margin-bottom: 1em; }
      nav > ul.navigation > li > a {
        font-size: 1.5em; }
    nav > ul.navigation > li * {
      list-style-type: none; }
      nav > ul.navigation > li * > a {
        font-size: 1.5em; }
  nav #search-container form {
    /* the button for expanding advanced search form */
    /* advanced search form */
    /* Search button */ }
    nav #search-container form .show-advanced.button {
      width: 30px;
      font-size: 1.5em;
      color: #4a4a4a;
      cursor: pointer;
      display: inline-block;
      text-indent: -9999px;
      appearance: none;
      /* Opera */
      -o-appearance: none;
      /* Firefox */
      -moz-appearance: none;
      /* Safari and Chrome */
      -webkit-appearance: none;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 30px; }
      nav #search-container form .show-advanced.button:hover {
        color: #C33244; }
      nav #search-container form .show-advanced.button:hover, nav #search-container form .show-advanced.button:active {
        color: #C33244; }
      nav #search-container form .show-advanced.button:after {
        font-family: 'Glyphicons Halflings';
        content: "\e011";
        display: block;
        text-indent: 0;
        text-align: center;
        margin-top: -1.75em; }
    nav #search-container form #advanced-form {
      position: absolute;
      top: 5em; }
      nav #search-container form #advanced-form.closed {
        display: none; }
      nav #search-container form #advanced-form.open {
        display: block; }
      nav #search-container form #advanced-form legend {
        font-size: 1em;
        letter-spacing: 0.1em;
        border: none;
        margin-bottom: 0.2em; }
      nav #search-container form #advanced-form label {
        font-size: 1em;
        letter-spacing: 0.2em; }
      nav #search-container form #advanced-form fieldset {
        margin-bottom: 0.5em; }
      nav #search-container form #advanced-form input[type="checkbox"], nav #search-container form #advanced-form input[type="radio"] {
        margin: 0 1em 0 2em; }
    nav #search-container form input[title="Search"] {
      width: 75%;
      position: absolute;
      left: 30px; }
    nav #search-container form #submit_search {
      display: inline-block;
      text-align: center;
      appearance: none;
      /* Opera */
      -o-appearance: none;
      /* Firefox */
      -moz-appearance: none;
      /* Safari and Chrome */
      -webkit-appearance: none;
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      font-size: 1.5em;
      border: none;
      color: #4a4a4a;
      border-radius: 0;
      background-color: white;
      margin: 0 0 0 -5px;
      cursor: pointer;
      text-indent: -9999px;
      width: 30px;
      position: absolute;
      top: 0;
      right: 30px;
      padding-top: 30px; }
      nav #search-container form #submit_search:focus {
        box-shadow: none;
        /* Opera */
        -o-box-shadow: none;
        /* Firefox */
        -moz-box-shadow: none;
        /* Safari and Chrome */
        -webkit-box-shadow: none;
        outline: none; }
      nav #search-container form #submit_search:hover, nav #search-container form #submit_search.active {
        color: #C33244; }
      nav #search-container form #submit_search:after {
        font-family: 'Glyphicons Halflings';
        content: "\e003";
        display: block;
        text-indent: 0;
        text-align: center;
        margin-top: -1.75em; }
  nav #footer-text {
    text-align: center; }

.section-header {
  margin: 120px 0 30px 0;
  color: #4a4a4a;
  text-align: center; }
  .section-header > small {
    letter-spacing: 1.25em;
    font-size: 1em; }
  .section-header > h1 {
    font-size: 2.5em; }

.homepage-logo {
  font-size: 2em;
  color: #C33244;
  line-height: 0.8em;
  letter-spacing: 0.2em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 9998;
  background-color: white;
  padding: 40px 0;
  border: 8px solid #C33244;
  width: 300px; }

.highlight-jumbotron {
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  min-height: 600px; }
  .highlight-jumbotron > * {
    padding: 0 !important;
    margin: 0 !important; }
  .highlight-jumbotron .section {
    overflow: hidden;
    position: relative;
    top: 0;
    height: 50vh; }
    .highlight-jumbotron .section .background, .highlight-jumbotron .section .front, .highlight-jumbotron .section .back {
      position: absolute;
      top: 0;
      width: 100%;
      overflow: hidden; }
    .highlight-jumbotron .section .background {
      z-index: 1; }
    .highlight-jumbotron .section .front {
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 2;
      opacity: 1;
      /* Firefox */
      -moz-transition: opacity 0.2s ease-in-out;
      /* WebKit */
      -webkit-transition: opacity 0.2s ease-in-out;
      /* Opera */
      -o-transition: opacity 0.2s ease-in-out;
      /* Standard */
      transition: opacity 0.2s ease-in-out;
      color: #C33244;
      text-align: center; }
      .highlight-jumbotron .section .front .container {
        width: 60%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%); }
        .highlight-jumbotron .section .front .container span {
          font-size: 4em;
          margin-bottom: 0.3em; }
        .highlight-jumbotron .section .front .container p {
          font-size: 1.5em;
          line-height: 1em;
          letter-spacing: 0.2em; }
    .highlight-jumbotron .section .back {
      height: 100%;
      background-color: rgba(138, 0, 17, 0.9);
      z-index: 3;
      opacity: 0;
      /* Firefox */
      -moz-transition: opacity 0.2s ease-in-out;
      /* WebKit */
      -webkit-transition: opacity 0.2s ease-in-out;
      /* Opera */
      -o-transition: opacity 0.2s ease-in-out;
      /* Standard */
      transition: opacity 0.2s ease-in-out;
      color: white;
      padding: 80px; }
      .highlight-jumbotron .section .back p {
        font-size: 1.4em;
        line-height: 2em; }
      .highlight-jumbotron .section .back a {
        display: block;
        font-size: 1.5em;
        letter-spacing: 0.2em;
        padding: 10px;
        color: white;
        cursor: pointer;
        border: 5px solid white;
        text-align: center;
        margin: auto;
        width: 40%;
        /* Firefox */
        -moz-transition: background-color 0.2s ease-in-out;
        /* WebKit */
        -webkit-transition: background-color 0.2s ease-in-out;
        /* Opera */
        -o-transition: background-color 0.2s ease-in-out;
        /* Standard */
        transition: background-color 0.2s ease-in-out;
        margin-top: 50px; }
        .highlight-jumbotron .section .back a:hover {
          text-decoration: none;
          color: #8A0011;
          background-color: white; }
    .highlight-jumbotron .section:hover .back {
      opacity: 1; }
    .highlight-jumbotron .section:hover .front {
      opacity: 0; }

@keyframes fade {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.4; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
form input[type="text"] {
  letter-spacing: 0.05em;
  appearance: none;
  /* Opera */
  -o-appearance: none;
  /* Firefox */
  -moz-appearance: none;
  /* Safari and Chrome */
  -webkit-appearance: none;
  padding: 10px 0;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #4a4a4a;
  border-radius: 0;
  font-size: 1.5em;
  width: 100%; }
  form input[type="text"].advanced-search-terms {
    width: 90%; }
  form input[type="text"]:focus {
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    outline: none; }

input[type=checkbox].checkbox-hidden {
  position: absolute;
  opacity: 0; }

#advanced-search-form {
  color: #4a4a4a;
  margin-bottom: 50px;
  /*
  & input[type="submit"] {
    width: 15%;
    text-align: center;
    padding: 10px 0;
    @extend .sans-serif-400;
    letter-spacing: 0.5em;
    @include appearance(none);
    @include box-shadow(none);
    color: $dark-grey;
    border: 1px solid $dark-grey;
    border-radius: 0;
    background-color: white;
    margin: 20px 0;
    &:focus{
      @include box-shadow(none);
      outline: none;
    }
    
    &:hover {
      color: white;
      background-color: $dark-grey;
    }
  }*/ }
  #advanced-search-form label, #advanced-search-form .label {
    font-size: 0.8em;
    letter-spacing: 0.3em;
    color: #4a4a4a; }
  #advanced-search-form #expand-advanced-search-toggle:checked ~ div.advanced-search-form-extra {
    display: block; }
  #advanced-search-form .advanced-search-form-extra {
    height: auto;
    animation-name: fade;
    animation-duration: 0.3s;
    display: none; }
  #advanced-search-form input[type="text"] {
    letter-spacing: 0.05em;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #4a4a4a;
    border-radius: 0;
    font-size: 1.5em;
    width: 100%; }
    #advanced-search-form input[type="text"].advanced-search-terms {
      width: 90%; }
    #advanced-search-form input[type="text"]:focus {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none; }
  #advanced-search-form input[name="search"] {
    width: 60%;
    padding: 5px 10px;
    margin: 0 5px; }
  #advanced-search-form button[type="submit"], #advanced-search-form .expand-advanced-search {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    border: none;
    color: #4a4a4a;
    border-radius: 0;
    background-color: white;
    margin: 0 0 0 -5px;
    cursor: pointer; }
    #advanced-search-form button[type="submit"]:focus, #advanced-search-form .expand-advanced-search:focus {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none; }
    #advanced-search-form button[type="submit"]:hover, #advanced-search-form button[type="submit"].active, #advanced-search-form .expand-advanced-search:hover, #advanced-search-form .expand-advanced-search.active {
      color: #C33244; }
  #advanced-search-form button[class="remove_search"] {
    text-align: center;
    width: 2em;
    height: 2em;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 50%;
    background-color: white;
    margin: 20px 0;
    cursor: pointer; }
    #advanced-search-form button[class="remove_search"]:focus {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none; }
    #advanced-search-form button[class="remove_search"]:hover {
      color: white;
      background-color: #4a4a4a; }
  #advanced-search-form button[class="add_search"] {
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    box-shadow: none;
    /* Opera */
    -o-box-shadow: none;
    /* Firefox */
    -moz-box-shadow: none;
    /* Safari and Chrome */
    -webkit-box-shadow: none;
    color: #b0b0b0;
    border: 1px dashed #b0b0b0;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto; }
    #advanced-search-form button[class="add_search"]:hover {
      color: #808080;
      border: 1px dashed #4a4a4a; }
  #advanced-search-form .field {
    margin-bottom: 2em; }
  #advanced-search-form select {
    letter-spacing: 0.1em;
    margin: 5px 0;
    font-size: 1em;
    padding: 10px 20px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #4a4a4a;
    appearance: none;
    /* Opera */
    -o-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    /* Safari and Chrome */
    -webkit-appearance: none;
    background-color: white;
    cursor: pointer; }
    #advanced-search-form select:focus, #advanced-search-form select:hover {
      box-shadow: none;
      /* Opera */
      -o-box-shadow: none;
      /* Firefox */
      -moz-box-shadow: none;
      /* Safari and Chrome */
      -webkit-box-shadow: none;
      outline: none;
      color: white;
      background-color: #4a4a4a; }

footer {
  margin-top: 200px;
  margin-bottom: 0 !important; }
  footer #footer-text p {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    font-size: 0.8em;
    color: #4a4a4a; }
  footer #footer-text a {
    text-decoration: none;
    color: #C33244;
    padding: 3px 5px; }
    footer #footer-text a:hover {
      text-decoration: none;
      background-color: #C33244;
      color: white;
      border-radius: 3px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.container-fixed, .container-fixed-top, .container-fixed-bottom, .container-fixed-center {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9998; }

.container-fixed-top {
  top: 0; }

.container-fixed-bottom {
  bottom: 0; }

.container-fixed-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

::selection {
  background-color: #4a4a4a;
  color: white; }

::-moz-selection {
  background-color: #4a4a4a;
  color: white; }

/*# sourceMappingURL=screen.css.map */
