@import 'sass-import-once';
@import 'color';
@import 'font';

.section-header {
  margin: 120px 0 30px 0;
  color: #4a4a4a;
  text-align: center;
  
  & > small {
    @extend .sans-serif-600;
    letter-spacing: 1.25em;
    font-size: 1em;
  }
  
  & > h1 {
    @extend .serif-400;
    font-size: 2.5em;
  }
  
  
}

