@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Cardo:400,400italic,700);
/* line 3, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif, .sans-serif-400, .article-description-tag > h1, .sans-serif-600, .section-header > small, .sans-serif-700, .article-description-tag > b, .sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-family: 'Open Sans', 'arial', sans-serif; }

/* line 4, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif, .serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .section-header > h1, .serif-700 {
  font-family: 'Cardo', 'times new roman', serif; }

/* line 5, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.italic {
  font-style: italic; }

/* line 15, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-400, .article-description-tag > h1 {
  font-weight: 400; }

/* line 16, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-600, .section-header > small {
  font-weight: 600; }

/* line 17, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-700, .article-description-tag > b {
  font-weight: 700; }

/* line 18, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-weight: 800; }

/* line 20, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .section-header > h1 {
  font-weight: 400; }

/* line 21, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif-700 {
  font-weight: 700; }

/* line 17, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
.article > img, article > img, .article-header > img, .article-content > img {
  width: 100%;
  margin-bottom: 3.125em; }

/* line 22, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
.article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-size: 3.125em;
  line-height: 1.25em;
  margin-bottom: 1.275em;
  color: #4a4a4a; }

/* line 30, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
.article > p, article > p, .article-header > p, .article-content > p {
  font-size: 1.25em;
  margin-bottom: 1.6875em;
  color: #4a4a4a;
  line-height: 1.7em; }

/* line 38, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
.article > quote, article > quote, .article-header > quote, .article-content > quote {
  font-style: italic;
  color: #C33244;
  display: block;
  font-size: 2em;
  margin-bottom: 1.6875em;
  padding: 0 1em 0 1em; }

/* line 49, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
article {
  margin-bottom: 120px; }

/* line 58, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
.article-content {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-rule-width: 1.875em;
  -moz-column-rule-width: 1.875em;
  column-rule-width: 1.875em;
  margin-bottom: 120px; }

/* line 66, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
.article-description-tag {
  margin-bottom: 1.5em; }
  /* line 69, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
  .article-description-tag > h1 {
    letter-spacing: 0.5em;
    font-size: 0.8em;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    padding: 2px 0 2px 0;
    margin-bottom: 0.5em; }
  /* line 87, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_article.scss */
  .article-description-tag > img {
    width: 100%; }

/* line 3, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_nav.scss */
.navigation-button {
  background-color: #C33244;
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 1em;
  color: white;
  line-height: 0.5em;
  letter-spacing: 0.3em;
  text-align: center;
  border-bottom: 8px solid #8A0011; }

/* line 3, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif, .sans-serif-400, .article-description-tag > h1, .sans-serif-600, .section-header > small, .sans-serif-700, .article-description-tag > b, .sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-family: 'Open Sans', 'arial', sans-serif; }

/* line 4, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif, .serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .section-header > h1, .serif-700 {
  font-family: 'Cardo', 'times new roman', serif; }

/* line 5, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.italic {
  font-style: italic; }

/* line 15, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-400, .article-description-tag > h1 {
  font-weight: 400; }

/* line 16, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-600, .section-header > small {
  font-weight: 600; }

/* line 17, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-700, .article-description-tag > b {
  font-weight: 700; }

/* line 18, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-weight: 800; }

/* line 20, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .section-header > h1 {
  font-weight: 400; }

/* line 21, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif-700 {
  font-weight: 700; }

/* line 4, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_section.scss */
.section-header {
  margin: 120px 0 30px 0;
  color: #4a4a4a;
  text-align: center; }
  /* line 9, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_section.scss */
  .section-header > small {
    letter-spacing: 1.25em;
    font-size: 1em; }
  /* line 15, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_section.scss */
  .section-header > h1 {
    font-size: 2.5em; }

/* line 3, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_index.scss */
.homepage-logo {
  font-size: 3.125em;
  color: white;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-align: center;
  position: relative; }

/* line 12, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_index.scss */
.featured-items-image {
  border: 30px solid white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/featured-item-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  /* line 22, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_index.scss */
  .featured-items-image img {
    width: 100%;
    object-fit: cover; }

/* line 28, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_index.scss */
.featured-items-description {
  color: white;
  display: block;
  background-color: #C33244;
  font-size: 1.25em;
  line-height: 1.875em;
  padding: 20px 40px 40px 40px !important; }

/* line 3, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif, .sans-serif-400, .article-description-tag > h1, .sans-serif-600, .section-header > small, .sans-serif-700, .article-description-tag > b, .sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-family: 'Open Sans', 'arial', sans-serif; }

/* line 4, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif, .serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .section-header > h1, .serif-700 {
  font-family: 'Cardo', 'times new roman', serif; }

/* line 5, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.italic {
  font-style: italic; }

/* line 15, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-400, .article-description-tag > h1 {
  font-weight: 400; }

/* line 16, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-600, .section-header > small {
  font-weight: 600; }

/* line 17, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-700, .article-description-tag > b {
  font-weight: 700; }

/* line 18, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.sans-serif-800, .article > h1, article > h1, .article-header > h1, .article-content > h1 {
  font-weight: 800; }

/* line 20, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif-400, .article > p, article > p, .article-header > p, .article-content > p, .article > quote, article > quote, .article-header > quote, .article-content > quote, .article-description-tag > p, .section-header > h1 {
  font-weight: 400; }

/* line 21, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/_font.scss */
.serif-700 {
  font-weight: 700; }

/* line 18, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/screen.scss */
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

/* line 26, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/screen.scss */
.container-fixed, .container-fixed-top, .container-fixed-bottom, .container-fixed-center {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999; }

/* line 33, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/screen.scss */
.container-fixed-top {
  top: 0; }

/* line 38, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/screen.scss */
.container-fixed-bottom {
  bottom: 0; }

/* line 43, /Users/peng_w2/Documents/denison-expanding-archives-omeka-theme/sample website/css/scss/screen.scss */
.container-fixed-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

/*# sourceMappingURL=screen.css.map */