@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Cardo:400,400italic,700);

.sans-serif-400, .sans-serif-600, .sans-serif-700, .sans-serif-800 {
  font-family: 'Open Sans', 'arial', sans-serif;
}

.serif-400, .serif-700 {
  font-family: 'Cardo', 'times new roman', serif;
}

.sans-serif-400 { font-weight: 400; }
.sans-serif-600 { font-weight: 600; }
.sans-serif-700 { font-weight: 700; }
.sans-serif-800 { font-weight: 800; }

.serif-400 { font-weight: 400; }
.serif-700 { font-weight: 700; }

.italic { font-style: italic; }

body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.container-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.container-fixed-bottom {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 9999;
}

.container-fixed-center {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.navigation-button {
  background-color: #C33244;
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  
  font-size: 1em;
  color: white;
  line-height: 0.5em;
  letter-spacing: 0.3em;
  text-align: center;
  border-bottom: 8px solid #8A0011;
}

.homepage-logo {
  font-size: 3.125em;
  color: white;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-align: center;
  position: relative;
}

.featured-items-image {
  border: 30px solid white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../images/featured-item-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-items-image img{
  width: 100%;
  object-fit: cover;
}

.featured-items-description {
  color: white;
  display: block;
  background-color: #C33244;
  font-size: 1.25em;
  line-height: 1.875em;
  padding: 20px 40px 40px 40px !important;
}

.section-header {
  margin: 120px 0 30px 0;
  color: #4a4a4a;
  text-align: center;
}

.section-header > small {
  font-family: 'Open Sans', 'arial', sans-serif;
  font-weight: 600;
  letter-spacing: 1.25em;
  font-size: 1em;
}

.section-header > h1 {
  font-family: 'Cardo', 'times new roman', serif;
  font-weight: 400;
  font-size: 2.5em;
}

article {
  margin-bottom: 120px;
}

article > img, .article-content > img, .article-header > img {
  width: 100%;
  margin-bottom: 3.125em;
}

.article-content {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-rule-width:  1.875em;
  -moz-column-rule-width:  1.875em;
  column-rule-width:  1.875em;
  margin-bottom: 120px;
}

article > h1, article-content > h1, .article-header > h1 {
  font-family: 'Open Sans', 'arial', sans-serif;
  font-weight: 800;
  font-size: 3.125em;
  line-height: 1.25em;
  margin-bottom: 1.275em;
  color: #4a4a4a;
}

article > p, .article-content > p, .article-header > p {
  font-family: 'Cardo', 'times new roman', serif;
  font-weight: 400;
  font-size: 1.25em;
  margin-bottom: 1.6875em;
  color: #4a4a4a;
  line-height: 1.7em;
}

article > quote, .article-content > quote, .article-header > quote {
  font-family: 'Cardo', 'times new roman', serif;
  font-weight: 400;
  font-style: italic;
  color: #C33244;
  display: block;
  font-size: 2em;
  margin-bottom: 1.6875em;
  padding: 0 1em 0 1em;
}

.exhibit-item {
  margin-bottom: 1em;
  padding: 10px;
  color: #4a4a4a;
}

.exhibit-item:hover {
  background-color: #C33244;
  color: white !important;
}

.exhibit-item > img {
  width: 100%;
  margin-bottom: 1em;
}

.exhibit-item > h1 {
  font-family: 'Open Sans', 'arial', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}

.exhibit-item > p {
  font-family: 'Cardo', 'times new roman', serif;
  font-weight: 400;
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

.exhibit-item > a {
  font-family: 'Open Sans', 'arial', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.item {
  padding-bottom: 150px;
}

.item-image {
  height: 800px;
  margin: 10% 0 10% 0;
}

.item-image img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.item-description-tag, .article-description-tag {
  margin-bottom: 1.5em;
}

.item-description-tag > h1, .article-description-tag > h1 {
  font-family: 'Open Sans', 'arial', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5em;
  font-size: 0.8em;
  
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  padding: 2px 0 2px 0;
  margin-bottom: 0.5em;
}

.item-description-tag > b, .article-description-tag > b {
  font-family: 'Open Sans', 'arial', sans-serif;
  font-weight: 700;
}

.item-description-tag > p, .article-description-tag > p {
  font-family: 'Cardo', 'times new roman', serif;
  font-weight: 400;
}

.item-description-tag > img, .article-description-tag > img {
  width: 100%;
}