@import 'color';
@import 'font';
@import 'sass-import-once';

@mixin column-count($num) {
  -webkit-column-count: $num;
  -moz-column-count: $num;
  column-count: $num;
}

@mixin column-rule-width($width) {
  -webkit-column-rule-width:  $width;
  -moz-column-rule-width:  $width;
  column-rule-width:  $width;
}

@include exports('article') {
  .article {
    & > img {
      width: 100%;
      margin-bottom: 3.125em;
    }

    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, 
    & > p, & > a, & > strong, & > b, & > i {
      color: $dark-grey;
    }
    
  }

  article {
    @extend .article;
    
    & p#simple-pages-breadcrumbs {
      @extend .sans-serif-600;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 1em;
      
      & a {
        text-decoration: none;
        color: $red;
        padding: 3px 5px;
        &:hover {
          background-color: $red;
          color: white;
          border-radius: 3px;
        }
      }
    }
  }

  .article-header {
    @extend .article;
    
    & > h1 {
      @extend .sans-serif-800;
      font-size: 3.125em;
      line-height: 1.25em;
      margin-bottom: 1.275em;
    }
  }

  .article-content {
    @extend .article;

    margin-bottom: 120px;
    
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
      @extend .sans-serif-800;
      line-height: 100%;
      margin-bottom: 0.3em;
      text-transform: uppercase;
    }
    
    & > h1 { font-size: 2.75em; }
    & > h2 { font-size: 2.5em; }
    & > h3 { font-size: 2.25em; }
    & > h4 { font-size: 2em; }
    & > h5 { font-size: 1.75em; }
    & > h6 { font-size: 1.5em; }

    & > p, & > a, & > strong, & > b, & > i, & > em, & > mark, 
    & > del, & > ins {
      font-size: 1.5em;
      margin-bottom: 1.6875em;
      line-height: 1.7em;
    }
    
    & > p, & > quote, & > a, & > i, & > mark, & > del, & > ins, 
    & > sub, & > sup { @extend .serif-400; }
    
    & > strong, & > b, & > em { @extend .serif-700; }
    & > i { font-style: italic; }
    & > em { color: $red; }
    & > sub, & > sup { font-size: 1em;}
    
    & > mark { 
      background-color: $red; 
      color: white;
    }

    & > quote {
      font-style: italic;
      color: $red;
      display: block;
      font-size: 2.5em;
      margin-bottom: 1.6875em;
      padding: 0 2em 0 2em;
    }
  }

  .article-description-tag {
    margin-bottom: 1.5em;

    & > h1 {
      @extend .sans-serif-400;
      letter-spacing: 0.5em;
      font-size: 0.8em;
      border-top: 1px solid $dark-grey;
      border-bottom: 1px solid $dark-grey;
      padding: 2px 0 2px 0;
      margin-bottom: 0.5em;
    }

    & > b {
      @extend .sans-serif-700;
    }

    & > p {
      @extend .serif-400;
    }

    & > img {
      width: 100%;
    }
  }
}

