@import 'sass-import-once';

@include exports('font') {
  .sans-serif { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
  .serif{ font-family: "Cardo", "Times New Roman", Times, serif; }
  .italic { font-style: italic; }
  .glyphicon { font-family: 'Glyphicons Halflings'; }

  .sans-serif-400, .sans-serif-600, .sans-serif-700, .sans-serif-800 {
    @extend .sans-serif;
  }

  .serif-400, .serif-700 {
    @extend .serif;
  }

  .sans-serif-400 { font-weight: 400; }
  .sans-serif-600 { font-weight: 600; }
  .sans-serif-700 { font-weight: 700; }
  .sans-serif-800 { font-weight: 800; }

  .serif-400 { font-weight: 400; }
  .serif-700 { font-weight: 700; }
}