@import 'color';
@import 'font';

footer {
  margin-top: 200px;
  margin-bottom: 0 !important;
  
  #footer-text {
    p {
      @extend .sans-serif-400;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      text-align: center;
      font-size: 0.8em;
      color: $dark-grey;
    }
    
    a {
      text-decoration: none;
      color: $red;
      padding: 3px 5px;
      &:hover {
        text-decoration: none;
        background-color: $red;
        color: white;
        border-radius: 3px;
      }
    }
  }
  

}