@import 'font';
@import 'color';

@mixin appearance($val){
  appearance:$val;
  /* Opera */
  -o-appearance:$val;
  /* Firefox */
  -moz-appearance:$val;
  /* Safari and Chrome */
  -webkit-appearance:$val; 
}

@mixin box-shadow($val){
  box-shadow:$val;
  /* Opera */
  -o-box-shadow:$val;
  /* Firefox */
  -moz-box-shadow:$val;
  /* Safari and Chrome */
  -webkit-box-shadow:$val; 
}

@mixin transition($property, $time, $timing-function) {
   /* Firefox */
  -moz-transition: $property $time $timing-function;
  /* WebKit */
  -webkit-transition: $property $time $timing-function;
  /* Opera */
  -o-transition: $property $time $timing-function;
  /* Standard */
  transition: $property $time $timing-function;
}

@keyframes fade {
    0% {opacity: 0;}
   25% {opacity: 0.4;}
   50% {opacity: 0.7;}
   75% {opacity: 0.9;}
  100% {opacity: 1;}
}

input[type=checkbox].checkbox-hidden {
   position: absolute;
   opacity: 0;
}

#advanced-search-form {
  color: $dark-grey;
  margin-bottom: 50px;
  
  & label, & .label {
    @extend .sans-serif-400;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    color: $dark-grey;
  }
  
  #expand-advanced-search-toggle:checked ~ div.advanced-search-form-extra {
    display: block;
  }
  
  & .advanced-search-form-extra {
    height: auto;
    animation-name: fade;
    animation-duration: 0.3s;
    display: none;
    
    &.hidden {
      
    }
  }
  
  & input[type="text"] {
    @extend .serif-400;
    letter-spacing: 0.05em;
    @include appearance(none);
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid $dark-grey;
    border-radius: 0;
    font-size: 1.5em;
    width: 100%;
    
    &.advanced-search-terms {
      width: 90%;
    }
    
    &:focus{
      @include box-shadow(none);
      outline: none;
    }
  }
  
  & input[name="search"] {
    width: 60%;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  & button[type="submit"], & .expand-advanced-search {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    @include appearance(none);
    @include box-shadow(none);
    border: none;
    color: $dark-grey;
    border-radius: 0;
    background-color: white;
    margin: 0 0 0 -5px;
    cursor: pointer;
    
    &:focus {
      @include box-shadow(none);
      outline: none;
    }
    
    &:hover, &.active {
      color: $red;
    }
  }
  
  & button[class="remove_search"] {
    text-align: center;
    width: 2em;
    height: 2em;
    @include appearance(none);
    @include box-shadow(none);
    
    color: $dark-grey;
    border: 1px solid $dark-grey;
    border-radius: 50%;
    background-color: white;
    margin: 20px 0;
    cursor: pointer;
    
    &:focus{
      @include box-shadow(none);
      outline: none;
    }
    
    &:hover {
      color: white;
      background-color: $dark-grey;
    }
  }
  
  & button[class="add_search"] {
    @include appearance(none);
    @include box-shadow(none);
    
    color: $light-grey;
    border: 1px dashed $light-grey;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
    &:hover {
      color: $grey;
    border: 1px dashed $dark-grey;
    }
  }
  /*
  & input[type="submit"] {
    width: 15%;
    text-align: center;
    padding: 10px 0;
    @extend .sans-serif-400;
    letter-spacing: 0.5em;
    @include appearance(none);
    @include box-shadow(none);
    color: $dark-grey;
    border: 1px solid $dark-grey;
    border-radius: 0;
    background-color: white;
    margin: 20px 0;
    &:focus{
      @include box-shadow(none);
      outline: none;
    }
    
    &:hover {
      color: white;
      background-color: $dark-grey;
    }
  }*/
  
  & .field {
    margin-bottom: 2em;
  }
  
  & select {
    @extend .serif-400;
    letter-spacing: 0.1em;
    margin: 5px 0;
    font-size: 1em;
    padding: 10px 20px;
    width: 100%;
    border-radius: 0;
    border: 1px solid $dark-grey;
    @include appearance(none);
    background-color: white;
    cursor: pointer;
    
    &:focus, &:hover {
      @include box-shadow(none);
      outline: none;
      color: white;
      background-color: $dark-grey;
    }
    
  }
}