@import 'color';
@import 'font';

@mixin transition($property, $time, $timing-function) {
   /* Firefox */
  -moz-transition: $property $time $timing-function;
  /* WebKit */
  -webkit-transition: $property $time $timing-function;
  /* Opera */
  -o-transition: $property $time $timing-function;
  /* Standard */
  transition: $property $time $timing-function;
}

@mixin horizontal-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.homepage-logo {
  font-size: 2em;
  color: $red;
  line-height: 0.8em;
  letter-spacing: 0.2em;
  text-align: center;
  position: relative;
  background-color: white;
  padding: 40px 0;
  border: 8px solid $red;
}

.highlight-jumbotron {
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  min-height: 600px;

  & > * {
    padding: 0 !important;
    margin: 0 !important;
  }
      
  & .section {
    overflow: hidden;
    position: relative;
    top: 0;
    height: 50vh;

    & .background, & .front, & .back {
      position: absolute;
      top: 0;
      width: 100%;
      overflow: hidden;
    }

    & .background {
      z-index: 1;
    }

    & .front {
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 2;
      opacity: 1;
      @include transition(opacity, 0.2s, ease-in-out);
      color: $red;
      text-align: center;
      
      & .container {
        width: 60%;
        position: relative;
        @include horizontal-center;
        
        & span {
          font-size: 4em;
          margin-bottom: 0.3em;
        }
        
        & p {
          font-size: 1.5em;
          line-height: 1em;
          letter-spacing: 0.2em;
        }
      }
    }

    & .back {
      height: 100%;
      background-color: rgba(138, 0, 17, 0.9);
      z-index: 3;
      opacity: 0;
      @include transition(opacity, 0.2s, ease-in-out);
    }

    &:hover .back {
      opacity: 1;
    }

    &:hover .front {
      opacity: 0;
    }
  }
}