@import 'article';
@import 'font';

.multi-item-files {
  .item-file {
    margin-bottom: 15px;
  }
  
  div[class*="image-"] {
    img {
      object-fit: fill;
      width: 100%;
    }
  }
  
  :not(div[class*="application-pdf"], div[class*="image-"]) {
    text-align: center;
    height: 360px;
    
    a {
      display: block;
      height: 100%;
      @extend .sans-serif-400;
      text-transform: uppercase;
      color: $red;
      border: 2px solid $red;
      font-size: 1.5em;
      text-decoration: none;
      letter-spacing: 0.1em;
      
      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }
}

.single-item-files {
  .item-file {
    margin-bottom: 50px;
  }
  
  div[class*="image-"] {
    height: 800px;
    
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  
  :not(div[class*="application-pdf"], div[class*="image-"]) {
    text-align: center;
    
    a {
      @extend .sans-serif-400;
      text-transform: uppercase;
      color: $red;
      font-size: 1.5em;
      text-decoration: none;
      padding: 5px 15px;
      letter-spacing: 0.1em;
      
      &:hover {
        background-color: $red;
        color: white;
        border-radius: 5px;
      }
    }
  }
  
  
}

.item-description-tag {
  @extend .article-description-tag;
}