@import 'article';

.item {
}

.item-image {
  height: 800px;
  margin-bottom: 50px;
  
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .item-file.image-jpeg {
    width: 100%;
    height: 100%;
  }
  
}

.item-description-tag {
  @extend .article-description-tag;
}