@import 'article';
@import 'browse';
@import 'item';
@import 'collection';
@import 'nav';
@import 'section';
@import 'index';
@import 'font';
@import 'color';
@import 'form';
@import 'footer';

@mixin horizontal-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.container-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9998;
}

.container-fixed-top {
  @extend .container-fixed;
  top: 0;
}

.container-fixed-bottom {
  @extend .container-fixed;
  bottom: 0;
}

.container-fixed-center {
  @extend .container-fixed;
  @include horizontal-center;
}

::selection {
  background-color: $dark-grey;
  color: white;
}

::-moz-selection {
  background-color: $dark-grey;
  color: white;
}